@import '../../styles/mixins';

.detail-wrap {
    position: relative;
    padding-top: 10rem;
    background-color: #f8f8f8;
    @include afterClear();

    .detail {
        width: 70rem;
        padding: 5rem 10rem;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 1rem;
        background-color: #fff;

        @include mq('small-screen-1') {
            width: 90%;
            padding: 3rem 5%;
        }
        
        //Detail-layout
        @import 'Close/Close';
        @import 'Sidebar/Sidebar';
        @import 'Header/Header';
        @import 'Content/Content';
        @import 'Info/Info';
        @import 'CommentList/CommentList';
        
    }
    //Detail-outer-layout
    @import 'Footer/Footer';
}