//& = .detail

&-sidebar {
    position: fixed;
    top: 30%;
    left: 15rem;

    i {
        display: block;
        width: 5rem;
        height: 5rem;
        margin-top: 1rem;
        border: 1px solid #ccc;
        border-radius: 50%;
        font-size: 2rem;
        line-height: 5rem;
        text-align: center;
        cursor: pointer;
    }
    @include mq('pc-small-screen') {
        display: none;
    }
    
    @include mq('small-screen-1') {
        display: none;
    }
}